table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 25%;
}
tr {
  height: 50px;
}
th {
  background-color: #3d8f41;
}
tr:nth-child(even) {
  background-color: #94d197;
}
tr:nth-child(odd) {
  background-color: #c9e8cb;
}
