.button {
  border: none;
  border-radius: 4px;
}
.button-edit {
  background-color: #f0c2e4;
}
.button-remove {
  background-color: #ff9980;
}
.button-cancel {
  background-color: #ffff99;
}
.button-submit {
  background-color: #4eb151;
}